* {
    margin: 0;
}

#welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #328EC1;
}

.project-tile {
    text-decoration: none;
}

figure {
    display: flex;
    flex-direction: column;
    margin: 0;
    max-width: 200px;
}

figure img {
    max-width: 200px;
}

figcaption {
    background-color: gray;
    text-align: center;
    color: #fefefe;
    padding: 10px 0px;
}